<div class="container">
    <h2 class="col-md-12">Contact</h2>
    <br>
    <div class="row">
        
        <h4 class="col-md-12">You can find us at:</h4>
        <p class="col-md-12">Rancho Velasco - Domicilio conocido
            San Antonio De Las Minas, Baja California, Mexico</p>
    </div>
    <hr>
    <div class="row">
       
        <h4 class="col-md-12">Call us <i class="fas fa-phone"></i></h4>
        <p class="col-md-12"> 646 156 8273 </p>
    </div>
    <hr>
    <div class="row">
       
        <h4 class="col-md-12">Email us <i class="fas fa-envelope-square"></i></h4>
        <p class="col-md-12">  ventas@misionesdecalifornia.com</p>
    </div>

    
</div>
