<div class="container">
    <div class="row">
        <div class="jumbotron col-md-9">
            <h1 class="display-4">Schedule wine tasting session</h1>
            <p class="lead">Come and taste the best selection of wines while we walk you around the wineyard</p>
            <hr class="my-4">
            <p>Schedule your wine tasting session now and get 20% discount!</p>
            <a class="btn btn-primary btn-lg" [routerLink]="['/schedule']" role="button">Schedule!</a>
        </div>
        <div class="col-md-3 wine-tasting-image">
            <br>
            <img class="img-fluid" src="../../../assets/img/wine-tasting.jpg" alt="first slide" style="display: block; width: 100%;">
        </div>
    </div>
</div>