<div class="container">
    <div class="row">
        <div class="card col-md-4" style="width: 18rem;">
            <img src="../../../assets/img/free-wine-icon-1004.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Tempranillo - $500</h5>
              <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae minus nam quia odit. Consequuntur consequatur iusto quas vel facere non minus delectus eligendi illum eius soluta, ea, dolor debitis possimus!</p>
              <a (click)="addItem(0)" class="btn btn-primary">Add to cart</a>
            </div>
          </div>
          <div class="card col-md-4" style="width: 18rem;">
            <img src="../../../assets/img/price-icon.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Merlot - $700</h5>
              <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Porro ab nam soluta dolore fugiat dolor nesciunt vero labore, magni pariatur ducimus rerum, consequuntur nemo! Minima ipsum unde porro rerum quidem?</p>
              <a (click)="addItem(1)" class="btn btn-primary">Add to cart</a>
            </div>
          </div>
          <div class="card col-md-4" style="width: 18rem;">
            <img src="../../../assets/img/uvas.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Nebbiolo - $900</h5>
              <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. A ratione ut fugiat deserunt illum sequi at, quae, doloremque nulla explicabo aut? Velit nulla deserunt laudantium, molestias nobis earum qui ratione.</p>
              <a (click)="addItem(2)" class="btn btn-primary">Add to cart</a>
            </div>
          </div>
      </div>

      <div class="row">
        <div class="card col-md-4" style="width: 18rem;">
            <img src="../../../assets/img/free-wine-icon-1004.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Cabernet - $400</h5>
              <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae minus nam quia odit. Consequuntur consequatur iusto quas vel facere non minus delectus eligendi illum eius soluta, ea, dolor debitis possimus!</p>
              <a (click)="addItem(3)" class="btn btn-primary">Add to cart</a>
            </div>
          </div>
          <div class="card col-md-4" style="width: 18rem;">
            <img src="../../../assets/img/price-icon.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Ensamble - $650</h5>
              <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Porro ab nam soluta dolore fugiat dolor nesciunt vero labore, magni pariatur ducimus rerum, consequuntur nemo! Minima ipsum unde porro rerum quidem?</p>
              <a (click)="addItem(4)" class="btn btn-primary">Add to cart</a>
            </div>
          </div>
          <div class="card col-md-4" style="width: 18rem;">
            <img src="../../../assets/img/uvas.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Blanco - $200</h5>
              <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. A ratione ut fugiat deserunt illum sequi at, quae, doloremque nulla explicabo aut? Velit nulla deserunt laudantium, molestias nobis earum qui ratione.</p>
              <a (click)="addItem(5)"class="btn btn-primary">Add to cart</a>
            </div>
          </div>
      </div>

</div>