<div class="container">
    <div class="row">
        <div class="card col-md-4" style="width: 18rem;">
            <img src="../../../assets/img/free-wine-icon-1004.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Wine 1</h5>
              <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae minus nam quia odit. Consequuntur consequatur iusto quas vel facere non minus delectus eligendi illum eius soluta, ea, dolor debitis possimus!</p>
              <a href="#" class="btn btn-primary">Buy</a>
            </div>
          </div>
          <div class="card col-md-4" style="width: 18rem;">
            <img src="../../../assets/img/price-icon.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Wine 2</h5>
              <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Porro ab nam soluta dolore fugiat dolor nesciunt vero labore, magni pariatur ducimus rerum, consequuntur nemo! Minima ipsum unde porro rerum quidem?</p>
              <a href="#" class="btn btn-primary">Buy</a>
            </div>
          </div>
          <div class="card col-md-4" style="width: 18rem;">
            <img src="../../../assets/img/uvas.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Wine 3</h5>
              <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. A ratione ut fugiat deserunt illum sequi at, quae, doloremque nulla explicabo aut? Velit nulla deserunt laudantium, molestias nobis earum qui ratione.</p>
              <a href="#" class="btn btn-primary">Buy</a>
            </div>
          </div>
      </div>

      <div class="row">
        <div class="card col-md-4" style="width: 18rem;">
            <img src="../../../assets/img/free-wine-icon-1004.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Wine 4</h5>
              <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae minus nam quia odit. Consequuntur consequatur iusto quas vel facere non minus delectus eligendi illum eius soluta, ea, dolor debitis possimus!</p>
              <a href="#" class="btn btn-primary">Buy</a>
            </div>
          </div>
          <div class="card col-md-4" style="width: 18rem;">
            <img src="../../../assets/img/price-icon.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Wine 5</h5>
              <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Porro ab nam soluta dolore fugiat dolor nesciunt vero labore, magni pariatur ducimus rerum, consequuntur nemo! Minima ipsum unde porro rerum quidem?</p>
              <a href="#" class="btn btn-primary">Buy</a>
            </div>
          </div>
          <div class="card col-md-4" style="width: 18rem;">
            <img src="../../../assets/img/uvas.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Wine 6</h5>
              <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. A ratione ut fugiat deserunt illum sequi at, quae, doloremque nulla explicabo aut? Velit nulla deserunt laudantium, molestias nobis earum qui ratione.</p>
              <a href="#" class="btn btn-primary">Buy</a>
            </div>
          </div>
      </div>

</div>