<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
    <img  src="../../../assets/img/logo.jpg" alt="Smiley face" height="100" width="100" class="logo">
    <a class="navbar-brand logo-title" [routerLink]="['/']">Misiones de California</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" routerLinkActive="active"  [routerLinkActiveOptions]="{exact:true}">
          <a class="nav-link" [routerLink]="['/']" >Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/products']">Products</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" [routerLink]="['/tasting']">Wine Tasting</a>
        </li>
        
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/contact']">Contact</a>
      </li>    
      
      <li *ngIf="authService.userData.admin" class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/users']">Admin</a>
    </li> 
        
      </ul>
      
      <ul class="navbar-nav">
        <form class="form-inline my-2 my-lg-0">
        
          <a *ngIf="!authService.isLogged" class="btn btn-outline-primary my-2 my-sm-0" style="margin-right: 1rem;" [routerLink]="['/login']">Login</a>
          <a *ngIf="!authService.isLogged" class="btn btn-outline-info my-2 my-sm-0" [routerLink]="['/signup']">Signup</a>
          <h4 *ngIf="authService.isLogged">Welcome <span class="badge badge-secondary">{{authService.userData.name}}</span></h4>
          <a *ngIf="authService.isLogged" [routerLink]="['/cart']" class="notification" style="margin-left:1rem;">
            <i class="fas fa-shopping-cart"></i>
            <span *ngIf="cartService.cartItems.length>0" class="badge">{{cartService.cartItems.length}}</span>
          </a>
          
        </form>
      </ul>     
    </div>
  </nav>
