<carousel>
    <slide>
      <img src="../../../assets/img/logo.jpg" alt="first slide" style="display: block; width: 100%;" height="600">
    </slide>
    <slide>
      <img src="../../../assets/img/banner.jpg" alt="second slide" style="display: block; width: 100%;" height="600">
    </slide>
    <slide>
      <img src="../../../assets/img/banner2.jpg" alt="third slide" style="display: block; width: 100%;" height="600">
    </slide>
  </carousel>

  <div class="container" style="margin-top: 20px;">
      <div class="row col-md-8 offset-md-5">
          <h1>Bienvenidos</h1>
      </div>
      <div class="row col-md-5 offset-md-4">
        <h3>Vinicola Misiones de California. Vino artesanal, organico con uva cuidada como familia y vinos hechos con esmero con la mas alta calidad</h3>
      </div>
      <hr>

      <div class="row">
        <div class="card col-md-4" style="width: 18rem;">
            <img src="../../../assets/img/free-wine-icon-1004.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Calidad</h5>
              <p class="card-text">Los vinos de mejor calidad de todo el Valle de Guadalupe y alrededores</p>
             
            </div>
          </div>
          <div class="card col-md-4" style="width: 18rem;">
            <img src="../../../assets/img/price-icon.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Precio</h5>
              <p class="card-text">Precios accesibles</p>
             
            </div>
          </div>
          <div class="card col-md-4" style="width: 18rem;">
            <img src="../../../assets/img/uvas.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Diversidad</h5>
              <p class="card-text">No son los tipicos vinos que encontrarás en otras vinicolas</p>
             
            </div>
          </div>
      </div>
      
  </div>
